<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripass.schedule.mapper.ScheduleMapper">
    
    <select id="existsTripById" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM trips
            WHERE id = #{tripId}
            AND is_deleted = 0
        )
    </select>

    <select id="findAllByTripId" resultType="ScheduleListRowDto">
        SELECT ts.id,
               ts.trip_id,
               ts.trip_country_id,
               c.country_name,
               c.time_zone,
               ts.schedule_name,
               ts.scheduled_at,
               ts.amount,
               cur.currency_code,
               cur.symbol AS currency_symbol,
               ts.payment_status,
               ts.schedule_status,
               ts.place_name,
               ts.place_address
        FROM trip_schedules ts
        INNER JOIN trips t
            ON t.id = ts.trip_id
        LEFT JOIN trip_countries tc
            ON tc.id = ts.trip_country_id
            AND tc.is_deleted = 0
        LEFT JOIN countries c
            ON c.id = tc.country_id
        LEFT JOIN currencies cur
            ON cur.id = COALESCE(ts.currency_id, c.currency_id)
        WHERE ts.trip_id = #{tripId}
            AND ts.is_deleted = 0
        ORDER BY ts.scheduled_at ASC, ts.id ASC
    </select>

    <select id="findDetailByTripIdAndScheduleId" resultType="ScheduleDetailRowDto">
        SELECT
            ts.id,
            ts.trip_id,
            ts.trip_country_id,
            c.country_name,
            c.time_zone,
            ts.schedule_name,
            ts.scheduled_at,
            ts.amount,
            cur.currency_code,
            cur.symbol AS currency_symbol,
            ts.payment_status,
            ts.schedule_status,
            ts.place_name,
            ts.place_address,
            ts.memo
        FROM trip_schedules ts
                 INNER JOIN trips t
                            ON t.id = ts.trip_id
                                AND t.is_deleted = 0
                 LEFT JOIN trip_countries tc
                           ON tc.id = ts.trip_country_id
                               AND tc.is_deleted = 0
                 LEFT JOIN countries c
                           ON c.id = tc.country_id
                 LEFT JOIN currencies cur
                           ON cur.id = COALESCE(
                                   ts.currency_id,
                                   c.currency_id
                                       )
        WHERE ts.id = #{scheduleId}
          AND ts.trip_id = #{tripId}
          AND ts.is_deleted = 0
    </select>

    <select id="findTripCountryContext"
            resultType="TripCountryContextRowDto">
        SELECT tc.id AS trip_country_id,
               c.id AS country_id,
               c.country_name,
               c.time_zone,
               c.currency_id AS default_currency_id,
               cur.currency_code AS default_currency_code
        FROM trip_countries tc
                 INNER JOIN countries c
                            ON c.id = tc.country_id
                 INNER JOIN currencies cur
                            ON cur.id = c.currency_id
        WHERE tc.id = #{tripCountryId}
          AND tc.trip_id = #{tripId}
          AND tc.is_deleted = 0
    </select>

    <select id="findCurrencyIdByCode"
            resultType="long">
        SELECT id
        FROM currencies
        WHERE currency_code = #{currencyCode}
    </select>

    <insert id="insertSchedule"
            parameterType="ScheduleCreateCommandDto"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO trip_schedules (
            trip_id,
            trip_country_id,
            currency_id,
            schedule_name,
            scheduled_at,
            amount,
            payment_status,
            schedule_status,
            place_name,
            place_address,
            memo
        )
        VALUES (
                   #{tripId},
                   #{tripCountryId},
                   #{currencyId},
                   #{scheduleName},
                   #{scheduledAt, jdbcType=TIMESTAMP},
                   #{amount, jdbcType=DECIMAL},
                   #{paymentStatus},
                   #{scheduleStatus},
                   #{placeName, jdbcType=VARCHAR},
                   #{placeAddress, jdbcType=VARCHAR},
                   #{memo, jdbcType=VARCHAR}
               )
    </insert>

    <select id="existsScheduleByTripIdAndScheduleId"
            resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM trip_schedules
            WHERE id = #{scheduleId}
              AND trip_id = #{tripId}
              AND is_deleted = 0
        )
    </select>

    <update id="updateSchedule"
            parameterType="ScheduleUpdateCommandDto">
        UPDATE trip_schedules
        SET trip_country_id = #{tripCountryId},
            currency_id = #{currencyId},
            schedule_name = #{scheduleName},
            scheduled_at = #{scheduledAt, jdbcType=TIMESTAMP},
            amount = #{amount, jdbcType=DECIMAL},
            payment_status = #{paymentStatus},
            place_name = #{placeName, jdbcType=VARCHAR},
            place_address = #{placeAddress, jdbcType=VARCHAR},
            memo = #{memo, jdbcType=VARCHAR}
        WHERE id = #{scheduleId}
          AND trip_id = #{tripId}
          AND is_deleted = 0
    </update>

    <update id="softDeleteSchedule">
        UPDATE trip_schedules
        SET is_deleted = 1,
            deleted_at = CURRENT_TIMESTAMP
        WHERE id = #{scheduleId}
          AND trip_id = #{tripId}
          AND is_deleted = 0
    </update>

</mapper>